@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

#firework {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0;
    transition: 1s;
}

.firework-textField {
    text-align: center;
    color: white;
    font-size: 7.5em;
    letter-spacing: 50px;
    line-height: 200px;
    position: relative;
    top: 100px;
    font-family: 'ZCOOL QingKe HuangYou';
}

.firework-text {
    display: inline-block;
    transform: scale(0);
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.firework {
    position: absolute;
}

.explosion {
    position: absolute;
    left: -2px;
    bottom: 0;
    width: 4px;
    height: 80px;
    transform-origin: 50% 100%;
    overflow: hidden;
}

.explosion::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 40px;
}

@keyframes explosion {
    0% {
        top: 100%;
    }

    33%,
    100% {
        top: -50%;
    }
}